@charset "UTF-8";
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
  height: 100%;
}

*,
::before,
::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #014E56;
  color: #ffffff;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1150px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.site-header {
  padding: 53px 0 42px 0;
  background-color: #014E56;
}

.site-header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-header__logo {
  text-decoration: none;
  display: inline-block;
  margin-right: 60px;
  min-width: 159px;
  min-height: 40px;
}

.site-header__logo-img {
  display: block;
  width: 159px;
  height: 40px;
}

.site-header-nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-header-nav-open {
  position: fixed;
  z-index: 50;
  top: 0;
  left: 0;
  background-color: rgba(1, 78, 86, 0.5);
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.site-header-nav-open + .button {
  position: relative;
  display: block;
  z-index: 51;
  min-width: 25px;
  min-height: 23px;
  padding: 2px;
  margin-left: auto;
  border: none;
  background-color: transparent;
  background-image: url("../img/iks.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px 17px;
  cursor: pointer;
}

.site-header-nav-open .sitenav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-color: #2C6269;
  width: 65%;
  height: 100%;
  padding: 112px 0px 0 48px;
}

.site-header-nav-open .sitenav__list > .sitenav__item--contact {
  margin-left: 0;
  margin-top: 36px;
}

@media only screen and (max-width: 768px) {
  .container {
    padding: 10px;
  }
  .site-header__logo {
    margin-right: 28px;
  }
  .site-header__logo-img {
    min-width: 128px;
    min-height: 32px;
  }
}

@media only screen and (max-width: 530px) {
  .site-header__logo-img {
    min-width: 128px;
    min-height: 32px;
  }
}

@media only screen and (min-width: 530px) {
  .site-header-nav-open {
    display: none;
  }
}

.sitenav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.sitenav__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.sitenav__item--contact {
  margin-left: auto;
}

.sitenav__link {
  display: inline-block;
  font-family: "Livvic";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #FFFFFF;
  padding: 12px 20px;
  text-decoration: none;
  white-space: nowrap;
}

.sitenav__link--contact {
  text-decoration: none;
  padding: 10px 33px;
  font-family: "Livvic";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #FFFFFF;
  border: 2px solid white;
  border-radius: 24px;
  white-space: nowrap;
}

@media only screen and (max-width: 768px) {
  .sitenav__link {
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
  }
  .sitenav__item--contact {
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    min-width: 100px;
  }
}

@media only screen and (max-width: 530px) {
  .sitenav__list {
    display: none;
  }
}

@media only screen and (min-width: 530px) {
  .sitenav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .sitenav__item--contact {
    min-width: 100px;
  }
}

.button {
  position: relative;
  display: none;
  z-index: 51;
  min-width: 25px;
  min-height: 23px;
  padding: 2px;
  margin-left: auto;
  border: none;
  background-color: transparent;
  background-image: url("../img/hamburger.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px 17px;
  cursor: pointer;
}

@media only screen and (max-width: 530px) {
  .button {
    display: block;
    z-index: 51;
  }
}

.intro {
  background-color: #014E56;
  padding-top: 129px;
  padding-bottom: 250px;
  background-image: url("../img/didiskleft.svg"), url("../img/diskright.svg");
  background-repeat: no-repeat;
  background-size: 200px 200px, 358px 200px;
  background-position: calc(50% - 680px) 122px, calc(50% + 350px) 475px;
}

.intro__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.intro__title {
  width: 530px;
  margin: 0;
  font-family: "Livvic";
  font-style: normal;
  font-weight: bold;
  font-size: 100px;
  line-height: 100px;
  color: #FFFFFF;
}

.intro__span {
  color: #F67E7E;
}

.intro__text {
  position: relative;
  margin-left: 60px;
  max-width: 445px;
  margin-bottom: 0;
  margin-top: auto;
  font-family: "Livvic";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #FFFFFF;
}

.intro__text::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 4px;
  background-color: #79C8C7;
  left: 0;
  bottom: 150%;
  display: block;
}

@media only screen and (max-width: 1075px) {
  .intro {
    padding-top: 112px;
    background-image: url("../img/diskright.svg");
    background-repeat: no-repeat;
    background-size: 358px 200px;
    background-position: center 480px;
  }
  .intro__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .intro__title {
    max-width: 360px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 24px;
    font-size: 64px;
    line-height: 56px;
  }
  .intro__text {
    max-width: 457px;
    font-size: 15px;
    line-height: 28px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  .intro__text::before {
    display: none;
  }
}

@media only screen and (max-width: 375px) {
  .intro {
    padding-top: 80px;
    padding-bottom: 197px;
    background-image: url("../img/diskright.svg");
    background-repeat: no-repeat;
    background-size: 358px 200px;
    background-position: center 420px;
  }
  .intro__title {
    max-width: 230px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 40px;
    line-height: 40px;
  }
}

.team {
  padding-top: 198px;
  padding-bottom: 140px;
  background-color: #012F34;
  background-image: url("../img/disk.svg");
  background-repeat: no-repeat;
  background-size: 200px 244px;
  background-position: calc(50% + 675px) bottom;
}

.team__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.team__title {
  max-width: 445px;
  margin: 0;
  font-family: "Livvic";
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
  color: #FFFFFF;
}

.team__title::before {
  content: "";
  width: 50px;
  height: 4px;
  background-color: #F67E7E;
  display: block;
  left: 0;
  margin-bottom: 54px;
}

.team__right-wrapper {
  margin-left: auto;
}

.team__list {
  max-width: 540px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.team__item {
  margin-bottom: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.team__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.team__inner--individuals::before {
  content: "";
  min-width: 72px;
  min-height: 72px;
  background-image: url("../img/individual.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left center;
  margin-right: 23px;
}

.team__inner--easy::before {
  content: "";
  min-width: 72px;
  min-height: 72px;
  background-image: url("../img/easy.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left center;
  margin-right: 23px;
}

.team__inner--product::before {
  content: "";
  min-width: 72px;
  min-height: 72px;
  background-image: url("../img/product.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left center;
  margin-right: 23px;
}

.team__inner-title {
  margin: 0;
  margin-bottom: 16px;
  font-family: "Livvic";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  color: #F67E7E;
}

.team__text {
  margin: 0;
  font-family: "Livvic";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  color: #FFFFFF;
}

@media only screen and (max-width: 850px) {
  .team {
    padding: 100px 98px;
    background-image: url("../img/disk.svg");
    background-repeat: no-repeat;
    background-size: 200px 244px;
    background-position: calc(50% + 420px) top;
  }
  .team__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .team__title {
    max-width: 445px;
    font-size: 32px;
    line-height: 32px;
    margin-bottom: 64px;
  }
  .team__right-wrapper {
    max-width: 573px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    margin-right: auto;
  }
  .team__list {
    margin-right: auto;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

@media only screen and (max-width: 565px) {
  .team {
    padding: 64px 24px;
  }
  .team__item {
    max-width: 327px;
  }
  .team__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .team__inner-title {
    text-align: center;
  }
  .team__text {
    text-align: center;
  }
}

@media only screen and (max-width: 375px) {
  .team {
    background-image: url("../img/disk.svg");
    background-repeat: no-repeat;
    background-size: 200px 244px;
    background-position: calc(50% + 180px) top;
  }
  .team__title {
    max-width: 230px;
  }
}

.results {
  padding-top: 140px;
  padding-bottom: 140px;
  background-color: #004047;
}

.results__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.results__title {
  max-width: 932px;
  font-family: "Livvic";
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  color: #FFFFFF;
  margin: 0;
}

.results__span {
  color: #79C8C7;
}

.results__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 36px;
}

.results__item {
  max-width: 349px;
  padding-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.results__item {
  background-image: url("../img/“.png");
  background-repeat: no-repeat;
  background-size: 67px 56px;
  background-position: center calc(50% - 100px);
}

.results__item-girl::after {
  content: "";
  width: 62px;
  height: 62px;
  background-image: url("../img/girl-avatar.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  border-radius: 50%;
  border: 2px solid #C4FFFE;
}

.results__item-woman::after {
  content: "";
  width: 62px;
  height: 62px;
  background-image: url("../img/woman-avatar.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  border-radius: 50%;
  border: 2px solid #C4FFFE;
}

.results__item-man::after {
  content: "";
  width: 62px;
  height: 62px;
  background-image: url("../img/man-avatar.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  border-radius: 50%;
  border: 2px solid #C4FFFE;
}

.results__item-quote {
  font-family: "Livvic";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: #FFFFFF;
  margin: 0;
  margin-bottom: 24px;
}

.results__name {
  font-family: "Livvic";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #79C8C7;
  margin: 0;
  margin-bottom: 2px;
  margin-top: auto;
}

.results__text {
  font-family: "Livvic";
  font-style: italic;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  color: #FFFFFF;
  margin: 0;
  margin-bottom: 32px;
}

@media only screen and (max-width: 768px) {
  .results__title {
    max-width: 465px;
    font-family: "Livvic";
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 32px;
    text-align: center;
    color: #FFFFFF;
  }
  .results__list {
    max-width: 573px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: auto;
    margin-right: auto;
  }
  .results__item {
    max-width: 573px;
    margin-top: 40px;
    padding-top: 50px;
  }
  .result__item-quote {
    max-width: 573px;
    font-family: "Livvic";
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
  }
}

@media only screen and (max-width: 1050px) {
  .results__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .result__item-quote {
    max-width: 450px;
  }
}

@media only screen and (max-width: 600px) {
  .results__list {
    max-width: 500px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: auto;
    margin-right: auto;
  }
  .results__item {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (max-width: 540px) {
  .results__item {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (max-width: 530px) {
  .results__list {
    max-width: 400px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: auto;
    margin-right: auto;
  }
  .results__item {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10;
  }
  .result__item-quote {
    max-width: 380px;
  }
}

@media only screen and (max-width: 430px) {
  .results__title {
    max-width: 327px;
    font-size: 40px;
    line-height: 40px;
  }
  .results__list {
    max-width: 400px;
    margin-top: 0px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (max-width: 375px) {
  .results__list {
    max-width: 365px;
    margin-left: auto;
    margin-right: auto;
  }
  .results__item {
    margin-left: 5px;
    margin-right: 5px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
  .results__title {
    font-size: 32px;
    line-height: 32px;
  }
  .result__item-quote {
    max-width: 365px;
  }
}

.start {
  padding: 76px 210px 76px 263px;
  background-color: #F67E7E;
  background-image: url("../img/pink.svg");
  background-repeat: no-repeat;
  background-size: 200px 244px;
  background-position: left calc(50% + 72px);
}

.start__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.start__title {
  margin: 0;
  font-family: "Livvic";
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
  color: #012F34;
}

.start__link {
  max-width: 153px;
  margin-left: auto;
  text-decoration: none;
  padding: 10px 32px;
  font-family: "Livvic";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #012F34;
  border: 2px solid #012F34;
  border-radius: 29px;
  white-space: nowrap;
}

@media only screen and (max-width: 1205px) {
  .start {
    padding: 84px 97px;
    background-image: url("../img/pink.svg");
    background-repeat: no-repeat;
    background-size: 200px 244px;
    background-position: left calc(50% + 102px);
  }
  .start__title {
    font-size: 32px;
    line-height: 32px;
    margin-right: auto;
  }
}

@media only screen and (max-width: 600px) {
  .start {
    padding: 83px 24px;
    background-image: url("../img/pink.svg");
    background-repeat: no-repeat;
    background-size: 200px 244px;
    background-position: left calc(50% + 170px);
  }
  .start__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .start__title {
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 24px;
  }
  .start__link {
    margin-left: auto;
    margin-right: auto;
  }
}

.footer {
  background-color: #002529;
  padding: 48px 165px;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__logo {
  display: block;
}

.footer__logo-img {
  display: block;
  width: 160px;
  height: 40px;
  margin-bottom: 25px;
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__nav {
  text-decoration: none;
  font-family: "Livvic";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #FFFFFF;
}

.footer__nav--about {
  text-decoration: none;
  font-family: "Livvic";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #FFFFFF;
  margin-left: 40px;
}

.footer__address {
  max-width: 170px;
  margin: 0;
  margin-left: 125px;
  font-family: "Livvic";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  color: #FFFFFF;
  opacity: 0.6;
}

.footer__tel {
  font-family: "Livvic";
  font-style: normal;
  font-weight: 600;
  color: #fff;
}

.footer__social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: auto;
}

.footer__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 51px;
  margin-left: auto;
}

.footer__item:not(:last-child) {
  margin-right: 10px;
}

.footer__link {
  display: block;
}

.footer__text {
  margin: 0;
  font-family: "Livvic";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  color: #FFFFFF;
  opacity: 0.6;
}

@media only screen and (max-width: 1120px) {
  .footer {
    padding-right: 100px;
    padding-left: 100px;
  }
}

@media only screen and (max-width: 995px) {
  .footer__address {
    margin-left: 50px;
  }
}

@media only screen and (max-width: 900px) {
  .footer {
    padding: 56px 40px;
  }
  .footer__address {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    display: block;
    text-align: end;
  }
  .footer__links {
    margin-right: auto;
  }
  .footer__list {
    margin-left: 0;
    margin-right: auto;
  }
  .footer__item:nth(:first-child) {
    margin-left: 0;
  }
  .footer__text {
    margin-left: auto;
  }
}

@media only screen and (max-width: 870px) {
  .footer__social-media {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: auto;
    margin-left: 0;
    margin-top: 32px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .footer__list {
    margin-left: 0;
    margin-right: auto;
  }
  .footer__item:nth(:first-child) {
    margin-left: 0;
  }
  .footer__text {
    margin-left: 0;
  }
}

@media only screen and (max-width: 480px) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__links {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 24px;
  }
  .footer__logo-img {
    width: 96px;
    height: 24px;
    margin-bottom: 24px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
  .footer__nav--about {
    margin-left: 24px;
  }
  .footer__address {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  .footer__social-media {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__list {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }
  .footer__text {
    text-align: center;
  }
}
/*# sourceMappingURL=styles.css.map */