.about {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: #014E56;
  background-image: url("../img/abou-disk.svg");
  background-repeat: no-repeat;
  background-size: 200px 200px;
  background-position: calc(50% + 675px) 200px;
}

.about__container {
  display: flex;
}

.about__title {
  margin: 0;
  font-family: "Livvic";
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 100px;
  color: #FFFFFF;
}

.about__text {
  max-width: 730px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  font-family: "Livvic";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
}

.about__text::before {
  content: "";
  width: 50px;
  height: 4px;
  background-color: #F67E7E;
  display: block;
  margin-bottom: 40px;
}

@media only screen and (max-width: 1320px) {
  .about {
    background-image: url("../img/abou-disk.svg");
    background-repeat: no-repeat;
    background-size: 200px 200px;
    background-position: right -100px bottom;
  }
}

@media only screen and (max-width: 1025px) {
  .about {
    background-image: url("../img/abou-disk.svg");
    background-repeat: no-repeat;
    background-size: 200px 200px;
    background-position: right -100px bottom;
  }

  .about__text {
    max-width: 600px;
  }
}

@media only screen and (max-width: 880px) {
  .about {
    padding-top: 60px;
    padding-bottom: 112px;
  }

  .about__container {
    display: flex;
    flex-direction: column;
  }

  .about__title {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 24px;
    line-height: 56px;
  }

  .about__text {
    max-width: 457px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 15px;
  }

  .about__text::before {
    display: none;
  }
}

@media only screen and (max-width: 635px) {
  .about {
    background-image: url("../img/abou-disk.svg");
    background-repeat: no-repeat;
    background-size: 200px 200px;
    background-position: right -100px bottom -100px;
  }

  .about__text {
    max-width: 327px;
  }
}

@media only screen and (max-width: 400px) {
  .about {
    padding-top: 30px;
    padding-bottom: 100px;
  }

  .about__title {
    font-size: 40px;
    line-height: 40px;
  }

  .about__text {
    max-width: 327px;
  }
}