.button {
  position: relative;
  display: block;
  z-index: 51;
  min-width: 25px;
  min-height: 23px;
  padding: 2px;
  margin-left: auto;
  border: none;
  background-color: transparent;
  background-image: url("../img/hamburger.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px 17px;
  cursor: pointer;
}