.clients {
  padding-top: 140px;
  padding-bottom: 85px;
  background-color: #012F34;
  background-image: url("../img/Group.svg");
  background-repeat: no-repeat;
  background-size: 200px 200px;
  background-position: calc(50% - 575px) top;
}

.clients__title {
  margin: 0;
  margin-bottom: 64px;
  font-family: "Livvic";
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  color: #FFFFFF;
}

.clients__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
}

.clients__item:not(:first-child) {
  margin-left: 80px;
}

.clients__link {
  display: block;
  flex-shrink: 0;
}

.clients__img {
  display: block;
}

@media only screen and (max-width: 1320px) {
  .clients {
    background-color: #012F34;
    background-image: url("../img/Group.svg");
    background-repeat: no-repeat;
    background-size: 200px 200px;
    background-position: left top;
  }
}

@media only screen and (max-width: 900px) {
  .clients__item:not(:first-child) {
    margin-left: 30px;
  }
}

@media only screen and (max-width: 768px) {
  .clients__title {
    font-size: 32px;
    line-height: 32px;
  }
}

@media only screen and (max-width: 550px) {
  .clients {
    padding-top: 88px;
    padding-bottom: 88px;
    background-image: url("../img/Group.svg");
    background-repeat: no-repeat;
    background-size: 200px 200px;
    background-position: left -100px top -100px;
  }

  .clients__list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .clients__item:not(:first-child) {
    margin-left: 0;
  }

  .clients__item:not(:last-child) {
    margin-bottom: 55px;
  }
}